<%- include('../adminView/layout/adminHeader.ejs')%>
      <%- include('../adminView/layout/adminSidebar.ejs')%>

            <div class="main-panel">
                  <div class="content-wrapper">
                        <div class="row ">
                              <div class="col-12 grid-margin">
                                    <div class="card">
                                          <div class="col-12 grid-margin stretch-card">
                                                <div class="card">
                                                      <div class="card-body">
                                                            <h4 class="card-title">Add product</h4>
                                                            <form method="post" action="/admin/addedProduct"
                                                                  class="forms-sample" enctype="multipart/form-data">
                                                                  <div class="form-group">
                                                                        <label for="exampleInputName1">Product
                                                                              Name</label>
                                                                        <input type="text" name="productName"
                                                                              class="form-control" 
                                                                              id="exampleInputName1" placeholder="Name">
                                                                              <%if(productName){%>
                                                                                    <p style="color: red;">product name is required</p>
                                                                              <%}%>
                                                                  </div>
                                                                  <div class="form-group">
                                                                        <label
                                                                              for="exampleInputCategory">Category</label>
                                                                        <select name="category" class="form-control"
                                                                              id="exampleInputCategory">
                                                                              <% categoryData.forEach((element)=>{ %>
                                                                                    <option>
                                                                                          <%=element.categoryName%>
                                                                                    </option>
                                                                                    <% }) %>
                                                                        </select>
                                                                        <%if(category){%>
                                                                              <p style="color: red;">product category is required</p>
                                                                        <%}%>
                                                                  </div>
                                                                  <div class="form-group">
                                                                        <label for="exampleInputName1">Stock</label>
                                                                        <input type="number" name="quantity"
                                                                              class="form-control" 
                                                                              id="exampleInputName1"
                                                                              placeholder="Stock">
                                                                              <%if(quantity){%>
                                                                                    <p style="color: red;">A product quantity greater than 1 is required</p>
                                                                              <%}%>
                                                                  </div>
                                                                  <div class="form-group">
                                                                        <label for="exampleInputName1">Price</label>
                                                                        <input type="number" name="price"
                                                                              class="form-control" 
                                                                              id="exampleInputName1"
                                                                              placeholder="Price">
                                                                              <%if(price){%>
                                                                                    <p style="color: red;">A positive product price is required</p>
                                                                              <%}%>
                                                                  </div>
                                                                  <!-- hashir -->
                                                                  <div>
                                                                        <div
                                                                              class="col-lg-3 col-md-6 rounded-image-preview ">
                                                                              <div
                                                                                    class="col-lg-3 col-md-6 rounded-image-preview ">
                                                                                    <label for="imageInput1"
                                                                                          class="image-label ">Image 1
                                                                                          <div
                                                                                                
                                                                                                class="rounded-image-preview">
                                                                                                <img id="imagePreview1"style="width: 500px; height: 300px;"
                                                                                                      src="https://www.creativefabrica.com/wp-content/uploads/2021/04/05/Image-Upload-Icon-Graphics-10388650-1-580x386.jpg"
                                                                                                      alt="Preview" />
                                                                                          </div>
                                                                                          <input name="image1"
                                                                                                type="file"
                                                                                                accept="image/*"
                                                                                                id="imageInput1"
                                                                                                class="imageInput"
                                                                                                >
                                                                                                <%if(image1){%>
                                                                                                      <p style="color: red;">Insert the image</p>
                                                                                                <%}%>
                                                                                    </label>
                                                                              </div>

                                                                        </div>
                                                                        <div
                                                                              class="col-lg-3 col-md-6 rounded-image-preview ">
                                                                              <div
                                                                                    class="col-lg-3 col-md-6 rounded-image-preview " >
                                                                                    <label for="imageInput2"
                                                                                          class="image-label ">Image 2
                                                                                          <div
                                                                                                class="rounded-image-preview" >
                                                                                                <img id="imagePreview1"style="width: 500px; height: 300px;"
                                                                                                      src="https://www.creativefabrica.com/wp-content/uploads/2021/04/05/Image-Upload-Icon-Graphics-10388650-1-580x386.jpg"
                                                                                                      alt="Preview" />
                                                                                          </div>
                                                                                          <input name="image2"
                                                                                                type="file"
                                                                                                accept="image/*"
                                                                                                id="imageInput2"
                                                                                                accept=""
                                                                                                class="imageInput">
                                                                                                <%if(image2){%>
                                                                                                      <p style="color: red;">Insert the image</p>
                                                                                                <%}%>
                                                                                    </label>
                                                                              </div>
                                                                        </div>
                                                                        <div
                                                                              class="col-lg-3 col-md-6 rounded-image-preview ">
                                                                              <div
                                                                                    class="col-lg-3 col-md-6 rounded-image-preview ">
                                                                                    <label for="imageInput3"
                                                                                          class="image-label ">Image 3
                                                                                          <div
                                                                                                class="rounded-image-preview">
                                                                                                <img id="imagePreview1"style="width: 500px; height: 300px;"
                                                                                                      src="https://www.creativefabrica.com/wp-content/uploads/2021/04/05/Image-Upload-Icon-Graphics-10388650-1-580x386.jpg"
                                                                                                      alt="Preview" />
                                                                                          </div>
                                                                                          <input name="image3"
                                                                                                type="file"
                                                                                                accept="image/*"
                                                                                                id="imageInput3"
                                                                                                accept=""
                                                                                                class="imageInput">
                                                                                                <%if(image3){%>
                                                                                                      <p style="color: red;">Insert the image</p>
                                                                                                <%}%>
                                                                                    </label>
                                                                              </div>
                                                                        </div>
                                                                        <div
                                                                              class="col-lg-3 col-md-6 rounded-image-preview ">
                                                                              <div
                                                                                    class="col-lg-3 col-md-6 rounded-image-preview ">
                                                                                    <label for="imageInput4"
                                                                                          class="image-label ">Image 4
                                                                                          <div
                                                                                                class="rounded-image-preview">
                                                                                                <img id="imagePreview1"style="width: 500px; height: 300px;"
                                                                                                      src="https://www.creativefabrica.com/wp-content/uploads/2021/04/05/Image-Upload-Icon-Graphics-10388650-1-580x386.jpg"
                                                                                                      alt="Preview" />
                                                                                          </div>
                                                                                          <input name="image4"
                                                                                                type="file"
                                                                                                accept="image/*"
                                                                                                id="imageInput4"
                                                                                                accept=""
                                                                                                class="imageInput">
                                                                                                <%if(image4){%>
                                                                                                      <p style="color: red;">Insert the image</p>
                                                                                                <%}%>
                                                                                    </label>
                                                                              </div>
                                                                        </div>
                                                                  </div>
                                                                  <div class="form-group">
                                                                        <label
                                                                              for="exampleTextarea1">Description</label>
                                                                        <textarea class="form-control" 
                                                                              name="description" id="exampleTextarea1"
                                                                              rows="4"></textarea>
                                                                              <%if(description){%>
                                                                                    <p style="color: red;">Need the description</p>
                                                                              <%}%>
                                                                  </div>
                                                                  <button type="submit"
                                                                        class="btn btn-primary mr-2">Submit</button>
                                                                  <a href="/admin/productManagmen"><button type="button"
                                                                              class="btn btn-dark">Cancel</button></a>
                                                            </form>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <!-- content-wrapper ends -->
                  <!-- partial:partials/_footer.html -->
                  <!-- partial -->
            </div>
            <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
            </div>
            <!-- container-scroller -->
            <script>
                  //       $(document).ready(function() {
                  //     $(".imageInput").change(function() {
                  //       var input = this;
                  //       var imagePreview = $(input).siblings('.rounded-image-preview').children('img')[0];

                  //       if (input.files && input.files[0]) {
                  //         var reader = new FileReader();

                  //         reader.onload = function(e) {
                  //           imagePreview.src = e.target.result;
                  //           $(imagePreview).show();
                  //         };

                  //         reader.readAsDataURL(input.files[0]);
                  //       }
                  //     });
                  //   });
            </script>
            <%- include('../adminView/layout/adminFooter.ejs')%>