<!-- plugins:js -->
<script src="/admin/assets/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="/admin/assets/js/off-canvas.js"></script>
<script src="/admin/assets/js/hoverable-collapse.js"></script>
<script src="/admin/assets/js/misc.js"></script>
<script src="/admin/assets/js/settings.js"></script>
<script src="/admin/assets/js/todolist.js"></script>
<script src="/admin/assets/js/script.js"></script>

<script>
      function confirmBlockBanner(id) {
            Swal.fire({
                  title: 'Are you sure?',
                  text: 'This action cannot be undone!',
                  icon: false,
                  showCancelButton: true,
                  background: "#191C24",
                  color:"#fff",
                  confirmButtonColor: '#558170',
                  cancelButtonColor: '#d33',
                  confirmButtonText: 'Confirm'
            }).then((result) => {
                  if (result.isConfirmed) {
                        window.location.href = '/admin/blockBanner?id='+ id
                  }
            });
      }

      function confirmBlockUser(id) {
            Swal.fire({
                  title: 'Are you sure?',
                  text: 'This action cannot be undone!',
                  icon: false,
                  showCancelButton: true,
                  background: "#191C24",
                  color:"#fff",
                  confirmButtonColor: '#558170',
                  cancelButtonColor: '#d33',
                  confirmButtonText: 'Confirm'
            }).then((result) => {
                  if (result.isConfirmed) {
                        window.location.href = '/admin/blockUser?id='+ id
                  }
            });
      }

      function confirmBlockCoupon(id) {
            Swal.fire({
                  title: 'Are you sure?',
                  text: 'This action cannot be undone!',
                  icon: false,
                  showCancelButton: true,
                  background: "#191C24",
                  color:"#fff",
                  confirmButtonColor: '#558170',
                  cancelButtonColor: '#d33',
                  confirmButtonText: 'Confirm'
            }).then((result) => {
                  if (result.isConfirmed) {
                        window.location.href = '/admin/block-coupons?id='+ id
                  }
            });
      }
</script>

<!-- endinject -->
</body>

</html>