<!-- Plugins JS File -->
<script src="/userSide/assets/js/jquery.min.js"></script>
<script src="/userSide/assets/js/bootstrap.bundle.min.js"></script>
<script src="/userSide/assets/js/jquery.hoverIntent.min.js"></script>
<script src="/userSide/assets/js/jquery.waypoints.min.js"></script>
<script src="/userSide/assets/js/superfish.min.js"></script>
<script src="/userSide/assets/js/owl.carousel.min.js"></script>
<script src="/userSide/assets/js/bootstrap-input-spinner.js"></script>
<script src="/userSide/assets/js/jquery.elevateZoom.min.js"></script>
<script src="/userSide/assets/js/bootstrap-input-spinner.js"></script>
<script src="/userSide/assets/js/jquery.magnific-popup.min.js"></script>
<!-- Main JS File -->
<script src="/userSide/assets/js/main.js"></script>
</body>


<!-- molla/product.html  22 Nov 2019 09:55:05 GMT -->

</html>