<%- include('../userView/layouts/header2.ejs') %>
<div class="page-wrapper">
    <main class="main">
        <div class="page-content">
            <div class="dashboard">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="tab-content">
                                <!-- Add Address Form -->
                                <div class="form-wrapper">
                                    <h2>Add Address</h2>
                                    <form action="/addedAddress" method="post">
                                        <div class="form-group">
                                            <label for="addName">Full Name *</label>
                                            <input type="text" class="form-control" id="addName" name="addName" required>
                                        </div>

                                        <div class="form-group">
                                            <label for="addEmail">Email *</label>
                                            <input type="email" class="form-control" id="addEmail" name="addEmail" required>
                                        </div>

                                        <div class="form-group">
                                            <label for="addMobile">Mobile Number</label>
                                            <input type="number" class="form-control" id="addMobile" name="addMobile">
                                        </div>

                                        <div class="form-group">
                                            <label for="addHouseName">House Name</label>
                                            <input type="text" class="form-control" id="addHouseName" name="addHouseName">
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="addCity">City</label>
                                                <input type="text" class="form-control" id="addCity" name="addCity">
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label for="addState">State</label>
                                                <input type="text" class="form-control" id="addState" name="addState">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="addPincode">Pincode</label>
                                            <input type="number" class="form-control" id="addPincode" name="addPincode">
                                        </div>

                                        <div class="form-group text-center">
                                            <button type="submit" class="btn btn-primary">
                                                SAVE CHANGES <i class="icon-long-arrow-right"></i>
                                            </button>
                                            <a href="/profile" class="btn btn-secondary">
                                                CANCEL <i class="icon-long-arrow-right"></i>
                                            </a>
                                        </div>
                                    </form>
                                </div><!-- .End .tab-pane (Add Address Form) -->
                            </div>
                        </div><!-- End .col-md-6 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .dashboard -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->
</div><!-- End .page-wrapper -->

<%- include('../userView/layouts/footer2.ejs') %>
